Importing Libraries

In [ ]:
import pandas as pd
import numpy as np

Load Data

In [ ]:
data = pd.read_csv('titanic train.csv')

Exploratory Data Analysis

In [ ]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
data.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [ ]:
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

Explore the columns

In [ ]:
data['Survived'].value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [ ]:
print('Total number of passangers in the training data...', len(data))
print('Number of passangers  who survived...', len(data[data['Survived'] == 1]))
print("Number of passangers  who didn't survived...", len(data[data['Survived'] == 0]))

Total number of passangers in the training data... 891
Number of passangers  who survived... 342
Number of passangers  who didn't survived... 549

What is the % of men and women who survived?

In [ ]:
print(data['Sex'].value_counts())
print('% of male who survived', 100*np.mean(data['Survived'][data['Sex']=='male']))
print('% of female who survived', 100*np.mean(data['Survived'][data['Sex']=='female']))

male      577
female    314
Name: Sex, dtype: int64
% of male who survived 18.890814558058924
% of female who survived 74.20382165605095

Survival passengers by class and age columns

In [ ]:
print(data['Pclass'].value_counts())
print('% of passengers who survived in first class', 100*np.mean(data['Survived'][data['Pclass'] == 1]))
print('% of passengers who survived in second class', 100*np.mean(data['Survived'][data['Pclass'] == 2]))
print('% of passengers who survived in third class', 100*np.mean(data['Survived'][data['Pclass'] == 3]))
print(data[["Pclass", "Survived"]].groupby(['Pclass']).mean())

3    491
1    216
2    184
Name: Pclass, dtype: int64
% of passengers who survived in first class 62.96296296296296
% of passengers who survived in second class 47.28260869565217
% of passengers who survived in third class 24.236252545824847
        Survived
Pclass
1       0.629630
2       0.472826
3       0.242363

Dealing with Missing Values

In [ ]:
df2 = data.copy() #dataframe copy

df2.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
int(data['Age'].mean())
#using this we can replace null values with the mean of age column

29

In [ ]:
df2['Age'] = df2['Age'].fillna(np.mean(df2['Age']))
df2.isnull().sum()
#all null values of Age column replace with the mean of the column

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
#solution 1
emabark = df2['Embarked'].dropna()
print(df2[df2['Embarked'].isnull()])
df2['Embarked'].fillna(df2['Embarked'].mode()[0], inplace=True)
#inplace will do changes in dataframe directly
print(df2.isnull().sum())

     PassengerId  Survived  Pclass                                       Name  \
61            62         1       1                        Icard, Miss. Amelie
829          830         1       1  Stone, Mrs. George Nelson (Martha Evelyn)

        Sex   Age  SibSp  Parch  Ticket  Fare Cabin Embarked
61   female  38.0      0      0  113572  80.0   B28      NaN
829  female  62.0      0      0  113572  80.0   B28      NaN
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [ ]:
df2['Cabin'].value_counts()
df2['Cabin'].mode()

0        B96 B98
1    C23 C25 C27
2             G6
Name: Cabin, dtype: object

In [ ]:
df2['Cabin'].fillna(df2['Cabin'].mode()[0], inplace=True)
df2.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [ ]:
#finally clean our dataset and this data is now ready for further analytics and processing purposes.